#
# C-SKY PCI Express driver configuration
#

menu "PCI Express support"

config PCI
	bool "PCI support"
	help
	  This feature enables support for PCI bus system. If you say Y
	  here, the kernel will include drivers and infrastructure code
	  to support PCI bus devices.

config PCI_DOMAINS
	def_bool PCI

config PCI_DOMAINS_GENERIC
	def_bool PCI

config PCI_SYSCALL
	def_bool PCI

config GENERIC_PCI_IOMAP
	def_bool PCI

source "drivers/pci/Kconfig"

endmenu

