#
# C-SKY mailbox control drivers
#

menuconfig MAILBOX_CSKY
	bool "C-SKY hardware Mailbox Support"
	select MAILBOX

if MAILBOX_CSKY

config TTY_MAILBOX_CSKY
	bool "TTY based on C-SKY hardware Mailbox Support"
	depends on MAILBOX_CSKY && TTY

config DEBUG_MAILBOX
	bool "Debug Mailbox calls"
	depends on MAILBOX_CSKY && DEBUG_KERNEL
	help
	  Say Y here to add some extra checks and diagnostics to Mailbox calls.

endif

