menu "Device Drivers"

source "addons/drivers/pinctrl/Kconfig"
source "addons/drivers/vpu/Kconfig"
source "addons/drivers/video/fbdev/Kconfig"
source "addons/drivers/reset/Kconfig"
source "addons/drivers/mailbox/Kconfig"
source "addons/drivers/crypto/Kconfig"
endmenu

